<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <connectionStrings>
        <!-- Update this connection string with your SQL Server details -->
        <!-- 
        Common connection string options:
        
        1. SQL Server Express (most common):
           Data Source=localhost\SQLEXPRESS;Initial Catalog=CoffeeProjectDB;Integrated Security=True;
        
        2. Default SQL Server instance:
           Data Source=localhost;Initial Catalog=CoffeeProjectDB;Integrated Security=True;
        
        3. Local SQL Server Express:
           Data Source=.\SQLEXPRESS;Initial Catalog=CoffeeProjectDB;Integrated Security=True;
        
        4. SQL Server Authentication (if not using Windows Auth):
           Data Source=YOUR_SERVER;Initial Catalog=CoffeeProjectDB;User ID=YOUR_USER;Password=YOUR_PASSWORD;
        -->
        <!-- Try SQL Server Express first (most common) -->
        <add name="CoffeeProjectConnection" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=CoffeeProjectDB;Integrated Security=True;" />
    </connectionStrings>
</configuration>